*.class

# Binaries #
build/
bin/
target/
 
# Package Files #
*.jar
*.war
*.ear
*.db
 
# Intelij IDEA #
.idea/
Finager.iml

# Spring #
.springBeans

# Android #
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/.DS_Store
